table {
width:90%;
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;
margin:1em auto;
border-collapse:collapse;
}
td {
color:#678197;
border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
padding:.3em 1em;
text-align:center;
}

//blue
TABLE
  { 
     font-family:arial;
     font-size:10pt;
     width:250px;
     border-style:ridge;
     border-color:black;
     border-width:1px;
  }
  TABLE.main
  { 
     font-family:arial;
     font-size:10pt;
     width:500px;
     border-style:ridge;
     border-color:black;
     border-width:1px;
  }
  caption
  {
  	font-size:10pt;
     background-color:#ADD8E6;
     color:black;
     border-style:ridge;
     border-color:black;
     border-width:1px;
  }

  TH
  {
     font-size:10pt;
     background-color:#ADD8E6;
     color:black;
  }


  TR
  { 
  }

  TD
  {  
     font-size:10pt;
     color:black;
     border-style:ridge;
     border-width:1px;
     text-align:center;
  }
  
th, td {padding:18px 28px 18px; text-align:center; }

<style>
#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}
</style>